node_modules
bin
lib
include
explorer/data
explorer/textbits
explorer/dusp_explorer.db
dist
.tmp
.Python
.sass-cache
app/bower_components
test/bower_components
*.pyc
*.swo
*.swp
.DS_Store
settings.py
fonts
